apps/server/Dockerfile
apps/server/node_modules
apps/server/test
apps/server/.gitignore

apps/client/Dockerfile
apps/client/node_modules
apps/client/test
apps/client/mocks

apps/hub/Dockerfile
apps/hub/node_modules
apps/hub/.env

node_modules